.wrapper-tag{
    background-color: #34E05A;
    width: auto;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-weight: 200;    
    font-size: 0.8rem;
    margin-right: 10px;
    margin-top: 10px;
}
